<div class = "container-fluid">
    <%= image_tag 'rv02.jpeg' %>
    <%= @trailers.name%>
    <%= @trailers.cooktop%>
    <%= @trailers.electrical%>
    <%= @trailers.brake%>
    <%= @trailers.sleeps%>
    <%= @trailers.price%>
    <%= @trailers.description%>
</div>